<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>EC-wallet</title>
    <script src="./js/vue.js"></script>
    <link rel="stylesheet" href="./css/base.css">
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/transfer.css">
    <script src="./js/jquery.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
    <script src="./js/ethers-io.js"></script>
</head>

<body>
    <div id="app2">
        <nav class="navbar navbar-expand-sm bg-light">
            <ul class="header-nav">
                <li class="li"><a href="http://explorer.coin.ec/home" target="_blank"><img src="./img/6.png" alt=""></a>
                </li>
                <li class="li"><a href="./index.html">首页</a></li>
                <li class="li"><a href="./transfer.html">转账</a></li>
                <li class="li"><a href="./contacts.html">联系人</a></li>
                <li class="li"><a href="./setting.html">设置</a></li>
            </ul>
        </nav>
        <div class="container mt-3">

            <div class="input-group mb-3 input-group-lg">
                <div class="input-group-prepend">
                    <span class="input-group-text">转出</span>
                </div>
                <!-- <input type="" class="form-control"> -->
                <!-- {{selectOut}} -->
                <select class="form-control" v-model="selectOut">
                    <!-- 显示创建的账户地址 -->
                    <option value="" disabled>请选择钱包地址</option>
                    <option value="" v-for="(item,index) in list" :key="index" :value="item.wallet.signingKey.address">
                        {{item.wallet.signingKey.address}}</option>

                </select>
            </div>


            <div class="input-group mb-3 input-group-lg">
                <div class="input-group-prepend">
                    <span class="input-group-text">转入</span>
                </div>
                <!-- <select class="form-control" v-model="selectIn" >
                    
                    <option value="" v-for="(item,index) in contactsList" :key="index" :value="item.tag">
                        {{item.tag}}</option>

                </select> -->
                <input type="text" class="form-control" v-model="selectInAddress">
                <img src="./img/Catalog.png" alt="" width="30px" height="40px" id="cata" @click="showContacts">
            </div>


            <div class="input-group mb-3 input-group-lg">
                <div class="input-group-prepend">
                    <span class="input-group-text">金额</span>
                </div>
                <input type="number" class="form-control" v-model="coin">
                <span style="font-size: 30px">EC</span>
                <label role="checkbox" class="check" style="margin:auto;">
                    <!-- <input type="checkbox" name="" id=""> -->
                    <!-- <span>发送全部(0EC)</span> -->
                </label>
            </div>


            <div class="input-group mb-3 input-group-lg">
                <div class="input-group-prepend">
                    <span class="input-group-text">备注</span>
                </div>
                <!-- <input type="textarea" class="form-control" style="min-width:90%" > -->
                <textarea class="form-control" style="min-width:90%" rows="1" v-model="remark"></textarea>
            </div>
            <div class="container" style="margin-top: 20px">

                <button type="button" class="btn btn-primary" @click="transferInfo">确认</button>

            </div>

        </div>

        <div class="addbg"></div>
        <!-- 确认转账页面 -->
        <div class="confirm jumbotron">
            <div>
                <div class="input-box mt-3 mb-4">
                    <h4>请确认</h4>
                    <i @click="returnipt()"></i>
                </div>
                <ol class="">
                    <li>
                        <span class="a">转出</span>
                        <span>{{selectOut}}</span>
                    </li>
                    <li>
                        <span class="a">转入</span>
                        <span>{{selectInAddress}}</span>
                    </li>
                    <li>
                        <span class="a">金额</span>
                        <span>{{coin}} EC</span>
                    </li>

                    <li>
                        <span class="a">备注</span>
                        <textarea name="" id="" cols="30" rows="1" disabled style="resize: none">{{remark}}</textarea>
                        <!-- <span style="overflow: auto">{{coin}} EC</span> -->
                    </li>
                    <li>
                        <span class="a">合计</span>
                        <span> EC</span>
                    </li>
                </ol>
                <div class="input-btn mt-5 mb-4">
                    <button class="btn btn-outline-secondary" @click='returnipt()'>取消</button>
                    <button class="btn btn-primary" @click='confirm'>确认</button>
                </div>
            </div>
        </div>

        <!-- 输入密码页面 -->

        <div id="inputPassword">
            <div class="head">
                <span>请输入密码</span>
                <i @click="returnInfo"></i>
            </div>
            <div class="body">
                <input type="text" class="form-control" v-model="confirmPassword">
            </div>
            <div class="foot">
                <button class="btn btn-outline-secondary" @click="returnInfo">取消</button>
                <button class="btn btn-primary" @click="trans">确认</button>
            </div>
        </div>
        <!-- 弹出联系人页面 -->
        <div id="showContacts">
            <div class="head">
                <span>提示</span>
                <i @click="returnContacts"></i>
            </div>
            <div class="body">
                <select class="form-control" v-model="selectIn">
                    <!-- 显示联系人地址 -->
                    <option value="" disabled>请选择联系人</option>
                    <option value="" v-for="(item,index) in contactsList" :key="index" :value="item.tag">
                        {{item.tag}}</option>

                </select>
            </div>
            <div class="foot">
                <button class="btn btn-outline-secondary" @click="returnContacts">取消</button>
                <button class="btn btn-primary" @click="showSelectInAddress">确认</button>
            </div>
        </div>





    </div>
    <script>
        var vm = new Vue({
            el: "#app2",

            data: {
                selectOut: '',//选择转出地址
                selectIn: '',//选择转入账号
                list: JSON.parse(localStorage.getItem('wallets')),
                contactsList: JSON.parse(localStorage.getItem('contact')),//联系人
                coin: '',//金额
                remark: '',//备注
                confirmPassword: '',//确认密码
                selectInAddress: '',//转入地址

            },

            methods: {
                transferInfo: function () {
                    //弹出转账信息界面
                    document.getElementsByClassName('confirm')[0].style.transform = "translateY(60px)";
                    document.getElementsByClassName('confirm')[0].style.opacity = '1'
                    document.getElementsByClassName('confirm')[0].style.zIndex = '100'
                    document.getElementsByClassName('addbg')[0].style.display = 'block'
                },
                //点击×退出转账信息弹窗
                returnipt: function () {
                    document.getElementsByClassName('confirm')[0].style.transform = "translateY(-60px)";
                    document.getElementsByClassName('confirm')[0].style.opacity = '0'
                    document.getElementsByClassName('confirm')[0].style.zIndex = '-1'
                    document.getElementsByClassName('addbg')[0].style.display = 'none'
                },
                //显示输入密码框
                confirm: function () {
                    //转账信息框退出
                    document.getElementsByClassName('confirm')[0].style.transform = "translateY(-60px)";
                    document.getElementsByClassName('confirm')[0].style.opacity = '0'
                    document.getElementsByClassName('confirm')[0].style.zIndex = '-1'


                    document.getElementById('inputPassword').style.transform = "translateY(200px)";
                    document.getElementById('inputPassword').style.opacity = '1'
                    document.getElementById('inputPassword').style.zIndex = '100'

                },
                //输入密码框退出
                returnInfo: function () {
                    document.getElementById('inputPassword').style.transform = "translateY(-200px)";
                    document.getElementById('inputPassword').style.opacity = '0'
                    document.getElementById('inputPassword').style.zIndex = '-1'
                    //显示转账框
                    document.getElementsByClassName('confirm')[0].style.transform = "translateY(60px)";
                    document.getElementsByClassName('confirm')[0].style.opacity = '1'
                    document.getElementsByClassName('confirm')[0].style.zIndex = '100'

                },
                // changeOut: function () {
                //     // this.selectOut = event.target.value
                //     console.log(this.selectOut)
                // },
                // changeIn: function (event) {
                //     this.selectIn = event.target.value
                // },
                //输入密码后的事件
                trans: function () {
                    //退出密码框                 
                    document.getElementById('inputPassword').style.transform = "translateY(-200px)";
                    document.getElementById('inputPassword').style.opacity = '0'
                    document.getElementById('inputPassword').style.zIndex = '-1'
                    document.getElementsByClassName('addbg')[0].style.display = 'none'

                    //得到转入账户的钱包
                    // console.log(this.list)
                    //选中的账户
                    let accountOut = this.list.find(index => index.wallet.signingKey.address == this.selectOut)
                    //密码
                    let password = accountOut.password
                    //生成私钥
                    let privateKey = accountOut.wallet.signingKey.privateKey
                    //生成钱包                    
                    //let provider = new ethers.providers.JsonRpcProvider('https://ropsten.infura.io/v3/2d6036eb41204013a6bf8606be3e0931', 'ropsten')
                    //let provider = new ethers.providers.JsonRpcProvider('http://rpc.coin.ec/ ', 'ropsten')
                    let provider
                    if (localStorage.getItem('peers')) {
                        provider = new ethers.providers.JsonRpcProvider(localStorage.getItem('peers'), 'ropsten')
                    } else {
                        provider = ethers.getDefaultProvider('ropsten')
                    }
                    let new_wallet = new ethers.Wallet(privateKey, provider)


                    //选中的联系人
                    //let accountIn = this.contactsList.find(i=>i.tag==this.selectIn)

                    //let accountInAddress = accountIn.account
                    let tx = {
                        //to 地址  value钱
                        //    to:accountInAddress,
                        to: this.selectInAddress,
                        value: ethers.utils.parseEther(this.coin)
                    }

                    if (this.confirmPassword != password) {
                        window.alert('密码不正确')
                    } else {
                        new_wallet.sendTransaction(tx).then(function (ret) {
                            console.log(ret)
                            window.alert('转账成功')

                        }, function (err) {
                            console.log(err)

                            window.alert('余额不足')
                        })

                    }
                    this.selectOut=this.selectInAddress=this.coin=this.remark=''


                },
                showContacts: function () {
                    //弹出联系人界面
                    document.getElementById('showContacts').style.transform = "translateY(100px)";
                    document.getElementById('showContacts').style.opacity = '1'
                    document.getElementById('showContacts').style.zIndex = '100'
                    document.getElementsByClassName('addbg')[0].style.display = 'block'
                },

                returnContacts: function () {
                    //取消弹出联系人界面
                    document.getElementById('showContacts').style.transform = "translateY(-100px)";
                    document.getElementById('showContacts').style.opacity = '0'
                    document.getElementById('showContacts').style.zIndex = '-1'
                    document.getElementsByClassName('addbg')[0].style.display = 'none'
                },
                showSelectInAddress: function () {
                    //选中联系人后确定
                    //输入框显示转入地址
                    //根据转入账号得到转入地址
                    let accountIn = this.contactsList.find(i => i.tag == this.selectIn)
                    this.selectInAddress = accountIn.account

                    //取消弹框
                    document.getElementById('showContacts').style.transform = "translateY(-100px)";
                    document.getElementById('showContacts').style.opacity = '0'
                    document.getElementById('showContacts').style.zIndex = '-1'
                    document.getElementsByClassName('addbg')[0].style.display = 'none'


                }

            }
        })   
    </script>
</body>

</html>